.login {
  background: -webkit-gradient(linear, left top, left bottom, from(#094a82), to(#5881bb));
  background: linear-gradient(#094a82, #5881bb);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(101vh - (58px + 98px));
}

.login .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  background: #233b5d;
  border-radius: 5px;
}

.login .wrapper .slider {
  width: 350px;
  position: relative;
}

.login .wrapper .slider .control {
  position: absolute;
  z-index: 3;
}

.login .wrapper .slider .slider-item {
  position: absolute;
  width: 100%;
  height: 100%;
  background: red;
}

.login .wrapper form {
  width: 400px;
  border: 1px solid #ccc;
  padding: 30px 40px 40px 40px;
  background: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
}

.login .wrapper form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.login .wrapper form .form-control {
  padding-bottom: 35px;
}

.login .wrapper form .form-control .inputWrapper {
  border: 2px solid white;
  border-bottom-color: #b1b1b1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .wrapper form .form-control .inputWrapper.invalid {
  border-bottom-color: #f78484;
}

.login .wrapper form .form-control .inputWrapper.invalid .icon {
  color: #f78484;
}

.login .wrapper form .form-control .inputWrapper.invalid small {
  color: red;
}

.login .wrapper form .form-control .inputWrapper.focus {
  border: 2px solid #5fd2ff;
  background: #e0f1f8;
}

.login .wrapper form .form-control .inputWrapper .icon {
  width: 30px;
  font-size: 20px;
  color: #797979;
}

.login .wrapper form .form-control .inputWrapper input {
  padding: 10px;
  width: 93%;
  outline: none;
  border: none;
  font-size: 16px;
  background: transparent;
}

.login .wrapper form .form-control .inputWrapper small {
  position: absolute;
  bottom: -22px;
}

.login .wrapper form p:nth-of-type(1) {
  text-align: center;
  margin-top: 20px;
  height: 20px;
  color: #757575;
}

.login .wrapper form p:nth-of-type(1)::after {
  content: "";
  display: inline-block;
  width: 40%;
  margin: 0 0 3px 10px;
  height: 2px;
  background: #ccc;
}

.login .wrapper form p:nth-of-type(1)::before {
  content: "";
  display: inline-block;
  margin: 0 10px 3px 0px;
  width: 40%;
  height: 2px;
  background: #ccc;
}

.login .wrapper form p:nth-of-type(2) {
  margin-top: 20px;
  color: #3957ff;
  cursor: pointer;
  height: 30px;
}

.login .wrapper form p:nth-of-type(2):hover {
  margin-bottom: 0;
}

.login .wrapper form p:nth-of-type(2):hover::after {
  content: "";
  display: block;
  margin: 5px auto 0 auto;
  width: 150px;
  height: 2px;
  background: #c3cbfc;
}

.login .wrapper form .btn {
  border: none;
  font-size: inherit;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 14px;
  letter-spacing: 1px;
}

.login .wrapper form .btn.login {
  color: white;
  width: 100%;
  background: #027fef;
  height: 40px;
  margin-top: 20px;
  position: relative;
}

.login .wrapper form .btn.login.invalidBtn {
  background: #c2c2c2;
  cursor: not-allowed;
}

.login .wrapper form .btn.login.invalidBtn:hover {
  background: #c2c2c2;
}

.login .wrapper form .btn.login :last-child {
  font-size: 18px;
  position: absolute;
  right: 10px;
  -webkit-transform: translateY(-2%);
          transform: translateY(-2%);
}

.login .wrapper form .btn.login:hover {
  background: #3b9df3;
}

.login .wrapper form .btn.create-account {
  margin-top: 20px;
  color: white;
  height: 40px;
  background: #6aa343;
  width: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
  position: relative;
}

.login .wrapper form .btn.create-account :last-child {
  color: white;
  position: absolute;
  font-size: 20px;
  right: 10px;
}

.login .wrapper form .btn.create-account:hover {
  background: #79b651;
}

.login .wrapper form .btn.create-account a {
  text-decoration: none;
  color: inherit;
}

.footer {
  padding: 30px 60px;
  background: -webkit-gradient(linear, left top, left bottom, from(#5881bb), to(#3e5b83));
  background: linear-gradient(#5881bb, #3e5b83);
}
/*# sourceMappingURL=Login.module.css.map */