.container{
    overflow-y: hidden;
    padding: 100px 50px;
    .verbs-list{
        position: relative;
        width: 700px;
        margin: 0 auto;
        list-style: none;
        transition: .3s ease-in-out;
        border-top: 1px dashed rgb(146, 145, 145);
        button:first-of-type{
            border-top-left-radius: 20px;
            border: none;
            background: rgb(250, 187, 187);
            color: rgb(255, 249, 249);
            padding: 10px 15px;
            font-size: 20px;
            position: absolute;
            right: 0;
            top: -45px;
        }
    }
}